
.indexPageContainer
    display: flex
    justify-content: space-between
    align-items: center
    border: 6px solid violet
    padding: 80px
    ul
        list-style-type: none
    img,svg
        width: 50px
        height: 50px
