link(rel="shortcut icon" href="./../build/img/favicon.ico" type="image/png")
link(rel="stylesheet" href="./../build/css/style.css")
script(src='./../build/js/jquery.js')
//- Основной файл плагина
script(src='./../build/js/bvi.js')
//- Файл в котором инициализируем и даем настройки для плагина
script(src='./../build/js/components/getBvi.js')
script(src='./../build/js/index.js')
script(src='./../build/js/svg.min.js' defer)
