link(rel="shortcut icon" href="./../build/img/favicon.ico" type="image/png")
link(rel="stylesheet" href="./../build/css/style.css")
script(src='./../build/js/jquery.js')
script(src='./../build/js/jquery.fancybox.min.js')
script(src='./../build/js/jquery.mask.js')
script(src='./../build/js/jquery.validate.min.js')
script(src='./../build/js/jquery.validate.upgrade.js')
script(src='./../build/js/select2.full.min.js')
script(src='./../build/js/jquery.cookie.js')
script(src='./../build/js/swiper-bundle.min.js')
script(src='./../build/js/viewer.min.js')
script(src='./../build/js/index.js')
script(src='./../build/js/svg.min.js' defer)
